In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('reviews.csv')
df2 = pd.read_csv('reviews_photos_original.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df1.head()

,_id,id,product_id,rating,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness
0,ObjectId(5f160faa933bf6ba19c590fb),5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,NaN,5
1,ObjectId(5f160faa933bf6ba19c590fc),13,7,5,Ye is good at everything,I mortgaged my house to pay for these,true,false,yecrazy,first.last@gmail.com,NaN,2
2,ObjectId(5f160faa933bf6ba19c590fd),1,1,5,This product was great!,I really did or did not like this product base...,true,false,funtime,first.last@gmail.com,NaN,8
3,ObjectId(5f160faa933bf6ba19c590fe),14,7,1,I don't like Kanye,I didn't buy the shoes but I don't like the ma...,false,true,taylor,first.last@gmail.com,NaN,0
4,ObjectId(5f160faa933bf6ba19c590ff),15,12,5,Sed repellat quo recusandae.,Vitae reiciendis aspernatur voluptatem labore ...,1,0,Pink.Purdy25,Donny.Jacobson11@yahoo.com,NaN,11

In [3]:
df2.head()

   id  review_id                                                url
0   1          5  https://images.unsplash.com/photo-1560570803-7...
1   2          5  https://images.unsplash.com/photo-1561693532-9...
2   3          5  https://images.unsplash.com/photo-148734938442...
3   4          9  https://images.unsplash.com/photo-1542574621-e...
4   5          9  https://images.unsplash.com/photo-1560294559-1...

In [4]:
merged = df1.merge(df2, left_on="id", right_on="review_id", how="right").fillna("")

In [5]:
merged.head()

,_id,id_x,product_id,rating,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness,id_y,review_id,url
0,ObjectId(5f160faa933bf6ba19c590fb),5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,,5,1,5,https://images.unsplash.com/photo-1560570803-7...
1,ObjectId(5f160faa933bf6ba19c590fb),5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,,5,2,5,https://images.unsplash.com/photo-1561693532-9...
2,ObjectId(5f160faa933bf6ba19c590fb),5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,,5,3,5,https://images.unsplash.com/photo-148734938442...
3,ObjectId(5f160faa933bf6ba19c590ff),15,12,5,Sed repellat quo recusandae.,Vitae reiciendis aspernatur voluptatem labore ...,1,0,Pink.Purdy25,Donny.Jacobson11@yahoo.com,,11,10,15,https://images.unsplash.com/photo-151353192634...
4,ObjectId(5f160faa933bf6ba19c59108),9,4,5,These pants are great!,I really like these pants. Best fit ever!,true,false,figuringitout,first.last@gmail.com,,2,4,9,https://images.unsplash.com/photo-1542574621-e...

In [6]:
merged.drop(['id_x','product_id', 'rating', 'summary', 'body', 'recommend', 'reported', 'reviewer_name', 'reviewer_email', 'response', 'helpfulness'], inplace=True, axis=1)

In [7]:
merged.head()

,_id,id_y,review_id,url
0,ObjectId(5f160faa933bf6ba19c590fb),1,5,https://images.unsplash.com/photo-1560570803-7...
1,ObjectId(5f160faa933bf6ba19c590fb),2,5,https://images.unsplash.com/photo-1561693532-9...
2,ObjectId(5f160faa933bf6ba19c590fb),3,5,https://images.unsplash.com/photo-148734938442...
3,ObjectId(5f160faa933bf6ba19c590ff),10,15,https://images.unsplash.com/photo-151353192634...
4,ObjectId(5f160faa933bf6ba19c59108),4,9,https://images.unsplash.com/photo-1542574621-e...

In [8]:
merged._id=merged._id.str[9:-1]

In [9]:
merged.head()

,_id,id_y,review_id,url
0,5f160faa933bf6ba19c590fb,1,5,https://images.unsplash.com/photo-1560570803-7...
1,5f160faa933bf6ba19c590fb,2,5,https://images.unsplash.com/photo-1561693532-9...
2,5f160faa933bf6ba19c590fb,3,5,https://images.unsplash.com/photo-148734938442...
3,5f160faa933bf6ba19c590ff,10,15,https://images.unsplash.com/photo-151353192634...
4,5f160faa933bf6ba19c59108,4,9,https://images.unsplash.com/photo-1542574621-e...

In [11]:
merged = merged.rename(columns={"review_id": "old_review_id", "_id":"review_id", "id_y":"old_id"})
merged.head()

,review_id,old_id,old_review_id,url
0,5f160faa933bf6ba19c590fb,1,5,https://images.unsplash.com/photo-1560570803-7...
1,5f160faa933bf6ba19c590fb,2,5,https://images.unsplash.com/photo-1561693532-9...
2,5f160faa933bf6ba19c590fb,3,5,https://images.unsplash.com/photo-148734938442...
3,5f160faa933bf6ba19c590ff,10,15,https://images.unsplash.com/photo-151353192634...
4,5f160faa933bf6ba19c59108,4,9,https://images.unsplash.com/photo-1542574621-e...

In [12]:
merged.to_csv("reviews_photos.csv", index=False)